{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container vh-100" style="background-color:#dee6ec">
        <div class=" bg-light mb-5 d-flex justify-content-center">
            <h1>Hello {{user.first_name}}</h1>

        </div>
        <div class="row">
            <div class="col-3" style="background-color:#dee6ec">

                <div class="row p-5">
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/home">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/profile">
                            <i class="fa fa-user"></i> Profile
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/points">
                            <i class="fa fa-star"></i> Points
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/task">
                            <i class="fa fa-tasks"></i> Task
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/logout">
                            <i class="fa fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
<!--                    <div class="row">-->
<!--                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/home">Home</a>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/profile">Profile</a>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/points">Points</a>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/task">Task</a>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="/logout">Logout</a>-->
<!--                    </div>-->
                </div>

            </div>

            <div class="col bg-light p-5">

                    <div class="container m-2 border border-secondary" style="background-color:#dee6ec">
    <div class="d-flex align-items-center">
        <img class="m-3" style="width: 100px; height: 100px;" src="{{apps.app_icon.url}}" alt="">
        <div class="d-flex flex-column">
            <h2>{{apps.app_name}}</h2>
            <a href="{{apps.app_link}}">{{apps.app_link}}</a>
        </div>
        <button class="btn btn-success ms-auto" type="submit">{{apps.points}} POINTS</button>
    </div>
</div>

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="file-droppable">
                        <div>Drag-n-drop some file here</div>
                        <span>&times;</span>
                        <input name="img" type="file" name="upload" />
                    </div>
                    <input type="text" name="app_name" style="display: none" value="{{apps.app_name}}" >
                    <input type="number" name="points"  style="display: none" value="{{apps.points}}" >
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-success m-3" type="submit" value="SUBMIT">
                    </div>
                </form>






            </div>


        </div>
    </div>




<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.file-droppable').forEach(function(droppable) {
      var originalText = droppable.querySelector('div').innerHTML;
      var input = droppable.querySelector('input');
      var fileChanged = function() {
        var files = input.files;
        if (files.length) {
          droppable.querySelector('span').style.display = 'block';
          droppable.querySelector('div').innerHTML = '';
                  for (var i = 0; i < files.length; i++) {
                      droppable.querySelector('div').innerHTML += files[i].name + '<br>';
          }
          droppable.classList.add('filled');
        } else {
          droppable.querySelector('div').innerHTML = originalText;
          droppable.classList.remove('filled');
          droppable.querySelector('span').style.display = 'none';
        }
      };
      input.addEventListener('change', fileChanged);
      fileChanged(input);
      droppable.querySelector('span').addEventListener('click', function() {
            input.value = '';
          fileChanged(input);
      });
    });
  });

</script>

</body>


</html>