<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method ="POST">
    {% csrf_token %}
    Are you want to delete movie?
    <input type="submit">
</form>
</body>
</html>