
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container vh-100" style="background-color:#dee6ec">
        <div class=" bg-light mb-5 d-flex justify-content-center">
            <h1>Hello {{user.first_name}}</h1>

        </div>
        <div class="row">
            <div class="col-3" style="background-color:#dee6ec">
                <div class="row p-5">
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="home">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="profile">
                            <i class="fa fa-user"></i> Profile
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="points">
                            <i class="fa fa-star"></i> Points
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="task">
                            <i class="fa fa-tasks"></i> Task
                        </a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="logout">
                            <i class="fa fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </div>
            </div>

            <div class="col bg-light p-5">
                {% for i in apps %}
                <div class="container m-2 border border-secondary" style="background-color:#dee6ec">
                    <div class="d-flex align-items-center">
                        <img class="m-3" style="width: 100px; height: 100px;" src="{{i.app_icon.url}}" alt="">
                        <div class="d-flex flex-column">
                            <h2>{{i.app_name}}</h2>
                        <a href="{% url 'app' id=i.id %}" class="mr-3">View in Detail</a>
                        </div>
                        <button class="btn btn-success ms-auto" type="submit">{{i.points}} POINTS</button>

<!--                    </div>-->
<!--                        <a class="btn btn-danger" href="/delete" >Delete Movie</a><br>-->
<!--                    </div>-->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
