<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="{% static 'style.css '%}">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <a href="register">Registration</a>-->
<!--    <a href="login">Login</a>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Texts with Borders and Navbar</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #b5c1bc;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: #a14444;
      color: #0c0b0b;
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 5px;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #D6D1DC;
    }

    .page-heading {
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .text-box {
      border: 2px solid #007bff;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the elements horizontally */
    }

    .text-box h2 {
      font-size: 24px;
      color: #007bff;
      margin-bottom: 10px;
    }

    .text-box p {
      font-size: 16px;
      line-height: 1.6;
    }

    .text-box a {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
    }

    .info-box {
      border: 2px solid #28a745;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the elements horizontally */
    }

    .info-box h2 {
      font-size: 24px;
      color: #007bff;
      margin-bottom: 10px;
    }

    .info-box p {
      font-size: 16px;
      line-height: 1.6;
    }
    .info-box a {
      display: inline-block;
      background-color: #28a745;
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <h2>WEBAPP</h2>
  </div>

  <div class="container">
    <h1 class="page-heading">Welcome to Our Page</h1>

    <div class="text-box" id="text-box-1">
      <h2>Registration</h2>
      <p>New User ? Click below to register</p>
      <a href="register">Register</a>
    </div>
    <div class="info-box" id="info-box">
      <h2>Login</h2>
      <p>Already registered ..click below to login</p>
      <a href="login">Login</a>
    </div>
  </div>
</body>
</html>
