{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'style.css '%}">
  <title>Register</title>
</head>
<body>
  <form method="post" action="">
    {% csrf_token %}
  <div class="card">
    <div class="form">
      <h3>Register</h3>
        <div class="input-field">
          <i class="fa fa-address-book"></i>
          <input type="text" name="first_name" placeholder="Enter your firstname" required>
      </div>
        <div class="input-field">
          <i class="fa fa-envelope"></i>
          <input type="email" name="email" placeholder="Enter your Email" required>
      </div>
      <div class="input-field">
          <i class="fa fa-address-book"></i>
          <input type="text" name="username" placeholder="Enter your Username" required>
      </div>
      <div class="input-field">
        <i class="fa fa-lock"></i>
        <input type="password" name="password1"  placeholder="Enter your password" required>
    </div>
      <div class="input-field">
        <i class="fa fa-key" aria-hidden="true"></i>
        <input type="password" name="password2" placeholder="Confirm password" required>
    </div>
    <button> Register</button>
    </div>
  </div>
     </form>

      {% for msg in messages %}
      <div class="container">
    <div class="form">
      <h3>{{msg}}</h3>
       </div>
  </div>
      {% endfor %}

</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Registration</h1>-->

<!--    <form action="" method="post">-->

<!--        {% csrf_token %}-->

<!--        <input type="text" name="first_name" placeholder="First Name" id=""> <br>-->
<!--        <input type="text" name="last_name" placeholder="Last Name" id=""> <br>-->
<!--        <input type="text" name="username" placeholder="User Name" id=""> <br>-->
<!--        <input type="email" name="email" placeholder="Email" id=""> <br>-->
<!--        <input type="password" name="password1" placeholder="Password" id=""> <br>-->
<!--        <input type="password" name="password2" placeholder="Confirm Password" id=""> <br>-->
<!--        <input type="submit" value="submit">-->

<!--    </form>-->

<!--    <div>-->
<!--        {% for message in messages %}-->
<!--        <h3>{{message}}</h3>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->